@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
.sc1 {
    height: 100vh;
    width: 100vw;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #313131 0%, black 100%);
    animation: backgroundAnm 10s linear infinite;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
}

.sc1 .cerc{
    width: 40vw;
    transform: translate(-50%,-50%) ;
    position: absolute;
    top: 50%;
    left: 50%;
}

.sc2 {
    height: fit-content;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100vw;
    position: relative;
}

.sc2 .offert h2 {
    width: 600px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke-width: 1.5px !important;
    -webkit-text-stroke-color: white !important;
    position: relative;
    font-size: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.sc2 .offert p {
    width: 600px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #dddbff;
    margin-left: 50%;
    font-size: 15px;
    margin-top: 30px;
    transform: translateX(-50%);
}

.sc2 img {
    position: absolute;
    z-index: 0;
    width: 100vw;
}

.sc2 .light{
    width: 4000px;
    z-index: 12;
    position: absolute;
    right: -500px;
    top: -200px;
}

.sc2 .buttons {
    width: 400px;
    justify-content: space-between;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

.sc2 button {
    padding: 20px 30px;
    cursor: pointer;
    color: white;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: white !important;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    outline: none;
    width: max-content;
}

.sc2 .bgGreen {
    background-color: #6657DA;
    -webkit-box-shadow: 0px 0px 95px -3px #6657DA;
    -moz-box-shadow: 0px 0px 95px -3px #6657DA;
    box-shadow: 0px 0px 95px -3px #6657DA;
}

.sc2 .bgOrange {
    background-color: #a29bfe;
    -webkit-box-shadow: 0px 0px 95px -3px #a29bfe;
    -moz-box-shadow: 0px 0px 95px -3px #a29bfe;
    box-shadow: 0px 0px 95px -3px #a29bfe;
}

.cards {
    width: 100vw;
    background-color: #181818;
    height: fit-content;
}

.cards .card {
    font-family: "DM Sans", sans-serif;
    color: white;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.cards .card .content {
    display: flex;
    width: 1100px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.cards .card h4 {
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.cards .card h1 {
    font-size: 35px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.cards .card p {
    font-size: 17px;
    line-height: 30px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-top: 15px;
}

.cards .card .content .lp {
    margin-right: 100px;
}

.cards .card .content div {
    width: 500px;
    position: relative;
}

.cards .card button {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: white !important;
}

.cards .card .content i {
    left: 50%;
    position: absolute;
    top: 50%;
    font-size: 250px;
    transform: translate(-50%, -50%);
}

.cards .leftText i {
    color: #6657DA;
    position: absolute;
}

.cards .leftText i::before {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    /* background-color: #49b618;
  -webkit-box-shadow: 0px 0px 95px -3px rgba(73, 182, 24, 1);
  -moz-box-shadow: 0px 0px 95px -3px rgba(73, 182, 24, 1);
  box-shadow: 0px 0px 95px -3px rgba(73, 182, 24, 1); */
}

.cards .rightText i {
    color: #a29bfe;
    position: absolute;
}

.cards .card .bgMovDeschis {
    background-color: #a29bfe;
    -webkit-box-shadow: 0px 0px 95px -3px #a29bfe;
    -moz-box-shadow: 0px 0px 95px -3px #a29bfe;
    box-shadow: 0px 0px 95px -3px #a29bfe;
}

.cards .card .bgMov {
    background-color: #6657DA;
    -webkit-box-shadow: 0px 0px 95px -3px #6657DA;
    -moz-box-shadow: 0px 0px 95px -3px #6657DA;
    box-shadow: 0px 0px 95px -3px #6657DA;
}

.cards .leftText {
    background-color: #121212;
}

.green {
    color: #6657DA;
    
}

.offert .green{
    -webkit-text-fill-color: #6657da !important;
    -webkit-text-stroke-width: 1.5px !important;
    -webkit-text-stroke-color: #6657da !important;
}

.orange {
    color: #a29bfe;
    
}

.offert .orange{
    -webkit-text-fill-color: #a29bfe !important;
    -webkit-text-stroke-width: 1.5px !important;
    -webkit-text-stroke-color: #a29bfe !important;
}

.topbar .rs .bgMov {
    background-color: #6657DA;
}

.topbar .rs .bgMovDeschis {
    background-color: #a29bfe;
}

.sc2 .offert {
    margin-left: 50%;
    transform: translateX(-50%);
}

.scrollfm i {
    left: 50%;
    transform: translateX(-50%);
    color: #6657DA;
    animation-name: scrollAnm;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scrollfm .icons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    animation-name: scrollAnmY;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.topbar {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100vw;
    background-color: transparent;
    justify-content: space-between;
    padding: 50px 100px;
}

.topbar .ls img {
    width: 400px;
    display: none;
}

.topbar .rs button {
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: white;
    -webkit-text-fill-color: white !important;
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: white !important;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 12px;
}

.scrollfm i:nth-child(1) {
    bottom: 40px;
    animation-delay: 0.3s;
}

.scrollfm i:nth-child(2) {
    bottom: 30px;
    color: #d9eb1a;
    animation-delay: 0.6s;
}

.scrollfm i:nth-child(3) {
    bottom: 20px;
    animation-delay: 0.9s;
}

@keyframes scrollAnm {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scrollAnmY {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: 10px;
    }
}

.sc1 .scrollfm {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

@keyframes backgroundAnm {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.intro {
    position: absolute;
    left: 50%;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    top: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
}

.sc1 p {
    margin-top: -5px;
    color: #dddbff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dddbff;
    z-index: 2;
}

.sc1 i {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: 1;
    font-size: 20px;
}

.scrollfm i {
    left: 50%;
    font-size: 15px;
    transform: translateX(-50%);
    color: #6657DA;
    animation-name: scrollAnm;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sc1 .logo {
    /* z-index: 2; */
    margin-left: 50%;
    transform: translateX(-50%);
    width: 500px;
}

@keyframes iconRot {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg) rotateX(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateZ(180deg) rotateX(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg) rotateX(360deg);
    }
}

.cards .leftText i {
    color: #6657DA;
    animation-name: iconRot;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cards .rightTextdh i {
    color: #6657DA !important;
}

.cards .rightText i {
    color: #a29bfe;
    animation-name: iconRot;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bc2 {
    font-size: 20px;
    position: absolute;
}

footer.footerr {
    background-color: #181818;
    text-align: center;
    position: relative;
    padding: 50px 0;
}

footer.footerr .logoo {
    width: 300px;
    margin-left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
}

footer.footerr .socialmed {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

footer.footerr .app {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

footer.footerr a{
    z-index: 2;
    position: relative;
}

footer.footerr .socialmed i {
    font-size: 30px;
    line-height: 70px;
    margin-left: 10px;
    cursor: pointer;
    color: #e0e0e0;
    transition: linear 0.2s;
}

footer.footerr .socialmed i:hover {
    color: #6c5ce7;
}

footer.footerr .socialmed img {
    width: 70px;
}

footer.footerr .app {
    margin-top: 10px;
}

footer.footerr .app img {
    width: 70px;
    height: 70px;
}

footer.footerr .app i {
    font-size: 30px;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #4d4d4d;
    transition: linear 0.2s;
}

footer.footerr .app i:hover {
    color: #6c5ce7;
}

footer.footerr h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-top: 50px;
    font-size: 20px;
    color: rgb(124, 64, 255);
}

footer.footerr h3 {
    color: #e0e0e0;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    transition: linear 0.3s;
    font-size: 20px;
}

footer.footerr .tc {
    margin-top: 20px;
}

footer.footerr h3:hover {
    color: #6c5ce7;
}

footer.footerr p {
    margin-top: -5px;
    font-size: 20px;
    color: #dddbff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dddbff;
    z-index: 2;
    font-family: "Luckiest Guy", cursive;
}

footer .fd{
    width: 100vw;
    position: absolute;
    top: -100px;
}


/* Here for Tablet Phones */

@media screen and (max-width:1200px) {
    .sc1 i {
        font-size: 20px;
    }
    .cards .rightText i,
    .cards .leftText i {
        font-size: 16px;
    }
    footer.footerr h3 {
        color: #6c5ce7;
    }
    footer.footerr .socialmed i {
        color: #6c5ce7;
    }
    .cards .card .content {
        width: 900px;
    }
    .cards .card h1 {
        font-size: 28px;
    }
    .cards .card p {
        font-size: 15px;
    }
    .cards .card .content i {
        font-size: 200px;
    }
    .cards .card .content .lp {
        margin-right: 100px;
    }
    .cards .card .content div {
        width: 400px;
    }
}

@media screen and (max-width:1100px) {
    .intro {
        font-size: 20px;
        width: 500px;
    }
    .sc1 .logo {
        width: 350px;
    }
    .sc2 .offert h2 {
        font-size: 35px;
        width: 500px;
    }
    .cards .card .content {
        width: 750px;
    }
    .cards .card h1 {
        font-size: 28px;
    }
    .cards .card p {
        font-size: 15px;
    }
    .cards .card .content i {
        font-size: 150px;
    }
    .cards .card .content .lp {
        margin-right: 0px;
    }
    .cards .card .content div {
        width: 375px;
    }
    .vid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .contvid {
        width: 600px;
        height: 338px;
    }
    .vid h1 {
        margin-bottom: 100px;
        font-size: 40px;
        width: 800px;
    }
}

@media screen and (max-width:870px) {
    .sc2 button {
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 17px;
        margin-left: 10px;
    }
    .topbar {
        justify-content: center;
    }
    .sc1 i {
        font-size: 14px;
    }
    .leftText .rp {
        display: none;
    }
    .cards .card .content .lp {
        width: 600px;
    }
    .rightText .lp {
        display: none;
    }
    .cards .card .content {
        width: 600px;
    }
    .cards .card .content .rp {
        width: 600px;
    }
    .vid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .contvid {
        width: 400px;
        height: 222px;
    }
    .contvid video {
        object-fit: cover;
    }
    .vid h1 {
        margin-bottom: 100px;
        font-size: 30px;
        width: 600px;
    }
    .sc1 .cerc {
        width: 70vw;
    }
    .sc2 img {
        width: 200vw;
        max-width: 200vw;
    }
}

@media screen and (max-width:650px) {
    .topbar {
        justify-content: center;
    }
    .topbar button {
        font-size: 14px;
    }
    .topbar .rs button {
        -webkit-text-stroke-width: 0px !important;
        
    }
    .sc2 button {
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 13px;
        margin-left: 10px;
        -webkit-text-stroke-width: 0px !important;
    }
    .cards .card button{
        -webkit-text-stroke-width: 0px !important;
    }
    .sc2 .buttons {
        width: 300px;
    }
    .sc1 i {
        font-size: 16px;
    }
    .cards .card .content .lp {
        width: 450px;
    }
    .rightText .lp {
        display: none;
    }
    .cards .card .content {
        width: 450px;
    }
    .cards .card .content .rp {
        width: 450px;
    }
    .sc2 .offert h2 {
        font-size: 30px;
        width: 450px;
    }
    .sc2 .offert p {
        width: 450px;
    }
    footer.footerr p {
        font-size: 18px;
    }
    .intro {
        font-size: 18px;
        width: 450px;
    }
    .sc1 .logo {
        width: 300px;
    }
    .vid h1 {
        margin-bottom: 100px;
        font-size: 25px;
        width: 500px;
    }
}

@media screen and (max-width:500px) {
    .topbar button {
        font-size: 11px;
        padding: 5px;
    }
    .topbar {
        padding: 20px 10px;
    }
    .cards .rightText i,
    .cards .leftText i {
        font-size: 11px;
    }
    .sc1 i {
        font-size: 13px;
    }
    .cards .card .content {
        width: 300px;
    }
    .cards .card h1 {
        font-size: 22px;
    }
    .cards .card h4 {
        font-size: 11px;
        margin-bottom: 10px;
    }
    .sc2 .offert h2 {
        width: 300px;
        font-size: 20px;
    }
    .cards .card p {
        font-size: 12px;
        margin-top: 10px;
        line-height: 20px;
    }
    .cards .card button {
        font-size: 13px;
    }
    .cards .card {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sc2 .offert p {
        width: 300px;
        font-size: 11px;
    }
    .sc2 .countdown {
        width: 250px;
        margin-top: 100px;
    }
    .sc1 p {
        margin-top: 0px;
    }
    .intro {
        font-size: 12px;
        width: 300px;
    }
    .sc1 .logo {
        width: 200px;
    }
    footer.footerr .logoo {
        width: 200px;
    }
    footer.footerr p {
        font-size: 13px;
    }
    footer.footerr h1 {
        font-size: 15px;
    }
    footer.footerr .socialmed i {
        font-size: 20px;
        line-height: 50px;
    }
    footer.footerr .socialmed img {
        width: 50px;
    }
    footer.footerr h3 {
        font-size: 16px;
    }
    .sc1 i {
        opacity: 0.5;
        font-size: 14px;
    }
    .scrollfm p {
        font-size: 12px;
    }
    .sc2 .countdown h3 {
        font-size: 20px;
    }
    .sc2 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sc2 .cd h4 {
        font-size: 20px;
    }
    .sc2 .cd h5 {
        font-size: 10px;
    }
    .vid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .contvid {
        width: 200px;
        height: 122px;
    }
    .contvid video {
        object-fit: cover;
    }
    .vid h1 {
        margin-bottom: 70px;
        font-size: 16px;
        width: 250px;
    }
}

@media screen and (max-width:350px) {
    .cards .rightText i,
    .cards .leftText i {
        font-size: 8px;
    }
    .intro {
        font-size: 9px;
    }
    .sc1 .logo {
        width: 170px;
    }
    .sc2 .offert h2 {
        font-size: 17px;
        width: 250px;
    }
    .sc2 .offert p {
        width: 250px;
        font-size: 9px;
    }
    .sc2 .countdown h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .sc2 .countdown {
        width: 200px;
    }
    .sc2 .cd h5 {
        font-size: 8px;
    }
    .sc2 .cd h4 {
        font-size: 17px;
    }
    .cards .card .content {
        width: 250px;
    }
    .cards .card h1 {
        font-size: 18px;
    }
    .cards .card p {
        font-size: 10px;
    }
    footer.footerr p {
        font-size: 10px;
    }
}