@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.sc1 {
    height: 100vh;
    width: 100vw;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #313131 0%, black 100%);
    animation: backgroundAnm 10s linear infinite;
    overflow: hidden;
}

.sc2 {
    height: fit-content;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100vw;
    background-color: #181818;
}

.sc2 .offert h2 {
    width: 600px;
    font-family: "DM Sans", sans-serif;
    color: white;
    text-align: center;
    position: relative;
    font-size: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.sc2 .offert p {
    font-family: "DM Sans", sans-serif;
    width: 600px;
    text-align: center;
    color: #4d4d4d;
    margin-left: 50%;
    font-size: 15px;
    margin-top: 30px;
    transform: translateX(-50%);
}

.sc2 img {
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: 0;
}

.sc2 .buttons {
    width: 400px;
    justify-content: space-between;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

.sc2 button {
    padding: 20px 30px;
    cursor: pointer;
    color: white;
    font-family: "DM Sans", sans-serif;
    border: none;
    margin-right: 20px;
    font-size: 17px;
    outline: none;
}

.sc2 .bgGreen {
    background-color: #a29bfe;
    -webkit-box-shadow: 0px 0px 95px -3px #a29bfe;
    -moz-box-shadow: 0px 0px 95px -3px #a29bfe;
    box-shadow: 0px 0px 95px -3px #a29bfe;
}

.sc2 .bgOrange {
    background-color: #f3b9ff;
    -webkit-box-shadow: 0px 0px 95px -3px #f3b9ff;
    -moz-box-shadow: 0px 0px 95px -3px #f3b9ff;
    box-shadow: 0px 0px 95px -3px #f3b9ff;
}

.cards {
    width: 100vw;
    background-color: #181818;
    height: fit-content;
}

.cards .card {
    font-family: "DM Sans", sans-serif;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}

.cards .card .content {
    display: flex;
    width: 1100px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.cards .card h4 {
    margin-bottom: 20px;
}

.cards .card h1 {
    font-size: 35px;
}

.cards .card p {
    font-size: 17px;
    line-height: 30px;
    margin-top: 15px;
}

.cards .card .content .lp {
    margin-right: 100px;
}

.cards .card .content div {
    width: 500px;
    position: relative;
}

.cards .card button {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
}

.cards .card i {
    left: 50%;
    position: absolute;
    top: 50%;
    font-size: 250px;
    transform: translate(-50%, -50%);
}

.cards .leftText i {
    color: #a29bfe;
}


/*.cards .leftText i::before {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 20px;
    background-color: #49B618;
    -webkit-box-shadow: 0px 0px 95px -3px rgba(73, 182, 24, 1);
    -moz-box-shadow: 0px 0px 95px -3px rgba(73, 182, 24, 1);
    box-shadow: 0px 0px 95px -3px rgba(73, 182, 24, 1);
}*/

.cards .rightText i {
    color: #f3b9ff;
}

.cards .card .bgMovDeschis {
    background-color: #f3b9ff;
    -webkit-box-shadow: 0px 0px 95px -3px #f3b9ff;
    -moz-box-shadow: 0px 0px 95px -3px #f3b9ff;
    box-shadow: 0px 0px 95px -3px #f3b9ff;
}

.cards .card .bgMov {
    background-color: #a29bfe;
    -webkit-box-shadow: 0px 0px 95px -3px #a29bfe;
    -moz-box-shadow: 0px 0px 95px -3px #a29bfe;
    box-shadow: 0px 0px 95px -3px #a29bfe;
}

.cards .leftText {
    background-color: #121212;
}

.green {
    color: #a29bfe;
}

.orange {
    color: #f3b9ff;
}

.topbar .rs .bgMov {
    background-color: #a29bfe;
}

.topbar .rs .bgMovDeschis {
    background-color: #f3b9ff;
}

.sc2 .offert {
    margin-left: 50%;
    transform: translateX(-50%);
}

.scrollfm i {
    left: 50%;
    transform: translateX(-50%);
    color: #a29bfe;
    animation-name: scrollAnm;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scrollfm .icons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    animation-name: scrollAnmY;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.topbar {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100vw;
    background-color: transparent;
    justify-content: space-between;
    padding: 50px 100px;
}

.topbar .ls img {
    width: 400px;
    display: none;
}

.topbar .rs button {
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: "DM Sans", sans-serif;
    border: none;
    margin-right: 20px;
}

.scrollfm i:nth-child(1) {
    bottom: 40px;
    animation-delay: 0.3s;
}

.scrollfm i:nth-child(2) {
    bottom: 30px;
    color: #d9eb1a;
    animation-delay: 0.6s;
}

.scrollfm i:nth-child(3) {
    bottom: 20px;
    animation-delay: 0.9s;
}

@keyframes scrollAnm {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrollAnmY {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 10px;
    }
}

.sc1 .scrollfm {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

@keyframes backgroundAnm {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.intro {
    position: absolute;
    left: 50%;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    top: 50%;
    font-size: 25px;
    color: #49b618;
    transform: translate(-50%, -50%);
}

.sc1 p {
    margin-top: -5px;
    color: #dddbff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dddbff;
    z-index: 2;
}

.sc1 i {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: 1;
}

.sc1 .logo {
    /* z-index: 2; */
    width: 500px;
    height: 70px;
}

@keyframes iconRot {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg) rotateX(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotateZ(180deg) rotateX(180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg) rotateX(360deg);
    }
}

.cards .leftText i {
    color: #a29bfe;
    animation-name: iconRot;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cards .rightText i {
    color: #f3b9ff;
    animation-name: iconRot;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

footer.footerr {
    background-color: #181818;
    text-align: center;
    padding: 50px 0;
}

footer.footerr .logoo {
    width: 300px;
}

footer.footerr .socialmed {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

footer.footerr .app {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

footer.footerr .socialmed i {
    font-size: 30px;
    line-height: 70px;
    margin-left: 10px;
    cursor: pointer;
    color: #4d4d4d;
    transition: linear 0.2s;
}

footer.footerr .socialmed i:hover {
    color: #6c5ce7;
}

footer.footerr .socialmed img {
    width: 70px;
}

footer.footerr .app {
    margin-top: 10px;
}

footer.footerr .app img {
    width: 70px;
}

footer.footerr .app i {
    font-size: 30px;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #4d4d4d;
    transition: linear 0.2s;
}

footer.footerr .app i:hover {
    color: #6c5ce7;
}

footer.footerr h1 {
    font-family: "DM Sans", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    color: #313131a4;
}

footer.footerr p {
    margin-top: -5px;
    font-size: 20px;
    color: #dddbff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dddbff;
    z-index: 2;
    font-family: "Luckiest Guy", cursive;
}