/* Here is the custom css */

.menu {
    width: 100%;
    position: relative;
    z-index: 2;
}

.menu menu {
    padding: 4px;
    width: 100%;
}

.menu menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.menu a.a_link {
    text-decoration: none;
    outline: none;
}

.menu menu ul li {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    opacity: 1;
    background: rgba(0, 0, 0, 0.45);
    align-items: center;
}

.menu ul li .i {
    margin-right: 10px;
    width: 20px;
    color: rgb(78, 78, 78);
    color: white;
    line-height: 25px;
}

.menu ul li h4 {
    color: rgb(78, 78, 78);
    color: white;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 25px;
}

.navbar_title {
    padding: 8px;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
}

.navbar_title .socialmed>img {
    width: 45px;
    height: 45px;
}

.navbar_title .socialmed {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_title .socialmed i {
    color: #fff;
    font-size: 20px;
    position: relative;
    opacity: 1;
    cursor: pointer;
    transition: linear 0.1s;
}

.navbar_title .socialmed i:hover {
    color: #6657DA;
}

.menu_box {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.sidebar_help_btn .sidebar_icon {
    box-shadow: inset 0px -1px 0px rgb(255 255 255 / 10%);
    border-radius: 10px 10px;
    background: rgb(35 34 34);
    padding: 10px 10px;
    width: 25%;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar_help_btn .sidebar_icon svg {
    height: 1em;
    width: 1em;
    color: #fff;
    margin: auto;
}

.sidebar_help_btn {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}

@media screen and (max-width: 1700px) {
    .menu ul li .i {
        margin-right: 5px;
        width: 17px;
        color: rgb(78, 78, 78);
        color: white;
        line-height: 25px;
    }
    .menu ul li h4 {
        color: rgb(78, 78, 78);
        color: white;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        line-height: 25px;
    }
}

@media screen and (max-width: 1600px) {
    .navbar_title .socialmed>img {
        width: 40px;
        height: 40px;
    }
    .navbar_title .socialmed {
        padding: 0px 5px;
    }
    .menu ul li h4 {
        font-size: 14px;
    }
    .navbar_title .socialmed i {
        font-size: 15px;
    }
    .menu ul li .i {
        margin-right: 0px;
        width: 0px;
        color: white;
        line-height: 25px;
    }
}

@media screen and (max-width: 1500px) {
    .menu ul li h4 {
        display: none;
    }
    .menu ul li .i {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
        width: 20px;
        height: 27px;
    }
    .navbar_title .socialmed {
        padding: 0px 0px;
    }
    .navbar_title .socialmed i {
        font-size: 13px;
    }
}

@media screen and (max-width: 1200px) {
    .menu ul li h4 {
        display: none;
    }
    .menu ul li .i {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
        width: 20px;
        height: 27px;
    }
    .navbar_title .socialmed {
        padding: 0px 0px;
    }
    .navbar_title .socialmed>img {
        width: 30px;
        height: 30px;
    }
    .navbar_title {
        padding-top: 14px;
    }
}

@media screen and (max-width: 1100px) {
    .navbar_title .socialmed i:hover {
        color: white;
    }
    .navbar_title .socialmed>img {
        width: 0px;
        height: 0px;
    }
    .navbar_title .socialmed {
        padding: 0px 5px;
        margin-left: -12px;
        margin-top: 10px;
    }
    .navbar_title .socialmed i {
        font-size: 16px;
    }
}

@media screen and (max-width: 1150px) {
    .menu ul li h4 {
        display: block;
        font-size: 8px;
        line-height: 15px;
    }
    .menu {
        width: 100%;
        height: 70px;
    }
    .menu menu {
        transform: translateX(-0%);
        width: 100%;
        padding: 0;
        margin: 14px 0px;
    }
    .menu menu ul {
        width: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }
    .menu menu ul li {
        display: block;
        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 0px;
        padding: 5px;
        margin-top: 0px;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        background: #4a447b71;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .menu ul li .i {
        font-size: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 27px;
    }
    menu a.a_link {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar_title {
        display: none;
    }
    .menu_box {
        width: 95%;
    }
    .sidebar_help_btn {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .menu ul li h4 {
        display: block;
        font-size: 6px;
        line-height: 15px;
    }
    .menu ul li .i {
        width: 13px;
        height: 18px;
    }
    .menu {
        width: 100%;
        height: 50px;
    }
    .menu menu {
        transform: translateX(-0%);
        width: 100%;
        margin: 10px 0px;
    }
    .menu menu ul li {
        padding: 5px 0px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    menu a.a_link {
        margin-left: 3px;
        margin-right: 3px;
    }
    .menu_box {
        width: 95%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .menu ul li .i {
        width: 13px;
    }
    .menu menu ul li {
        padding: 10px;
    }
    menu a.a_link {
        margin-left: 5px;
        margin-right: 5px;
    }
    .menu_box {
        width: 95%;
    }
    .menu ul li h4 {
        display: none;
        font-size: 6px;
        line-height: 15px;
    }
}