@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.profile_bar {
    width: 35%;
    position: relative;
    color: white;
    overflow-y: auto;
    height: 84vh;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    margin-left: 10px;
    background-color: #A4A4A4;
    background-color: #ffffff08;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
    overflow-x: hidden;
}

.profile_pic img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.profile_bar ul {
    list-style: none;
}

.profile_bar ul li {
    background-color: #00000046;
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    opacity: 1;
    cursor: pointer;
}

.profile_bar ul li .ch{
    opacity: 0;
    z-index: 0;
    transition:.6s cubic-bezier(.25,1,.5,1);
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    pointer-events: none;
    bottom: 0%;
    background-image: radial-gradient(57% 123% at 80% 100%,rgba(224, 223, 183, 0.4) 0%,rgba(255,255,255,0) 100%);
    
}

.profile_bar ul li:hover .ch{
    opacity: 1;
}



.profile_bar .send {
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    top: 50%;
    cursor: default;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    opacity: 1;
}

.profile_bar a {
    text-decoration: none;
    color: white;
}

.profile_bar ul li .message {
    margin-left: 10px;
    font-family: "DM Sans", sans-serif;
}

.profile_bar ul li .message h1 {
    font-size: 22px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    
}

.profile_bar ul li .message p{
    color: #A4A4A4;
}
.profile_bar ul .notif .message h1 {
    color: #ffffff;
}
.profile_bar ul .notif .message p {
    color: #ffd218;
}

.frow {
    display: flex;
    justify-content: space-between;
}

.frow h5 {
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #b6b6b6;
}

.profile_bar ul li .message p {
    margin-top: -7px;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.profile_bar ul li img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 2;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_bar ul .notif {
    background-color: #ffffff1a;
    border: solid 1px #ffd11867;
    box-sizing: border-box;
    border: 2px solid rgba(102, 87, 218, 0.49);
}

.frow a {
    width: 180px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    color: white;
    background-color: #6657da;
}

.frow h4 {
    font-size: 14px;
}

.frow a i {
    margin-left: 145px;
    margin-top: 3px;
}

@media screen and (max-width: 1650px) {
    .frow h5 {
        font-size: 18px;
    }
    .profile_bar ul li {
        padding: 10px;
    }
    .profile_bar ul li .message h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1450px) {
    .profile_bar ul li .message p {
        font-size: 15px;
        margin-top: -4px;
    }
    .profile_bar {
        padding: 10px;
    }
    .frow h4 {
        font-size: 10px;
        margin-top: 2px;
    }
    .frow h5 {
        font-size: 14px;
    }
    .profile_bar ul li .message h1 {
        font-size: 17px;
    }
    .profile_bar ul li img {
        width: 50px;
        height: 50px;
    }
    .profile_bar ul li {
        border-radius: 10px;
        margin-top: 10px;
    }
    .frow a {
        width: 135px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        padding: 10px;
        color: white;
        background-color: #6657da;
    }
    .frow a i {
        margin-left: 105px;
        font-size: 13px;
        margin-top: 3px;
    }
}

@media screen and (max-height: 750px) and (min-width: 1151px) {
    .dm,
    .feed_posts,
    .profile_bar {
        height: 80vh;
    }
}

@media screen and (max-width: 1150px) {
    .profile_bar {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .profile_bar ul li img {
        width: 40px;
        height: 40px;
    }
    .profile_bar ul li .message p {
        margin-top: 0px;
        font-size: 10px;
    }
}