@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.sc1 {
    height: 100vh;
    width: 100vw;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #313131 0%, black 100%);
    animation: backgroundAnm 10s linear infinite;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
}

.sc1 i {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: 1;
}

@keyframes backgroundAnm {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main_container {
    width: 80%;
    position: relative;
    height: 92vh;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background: #4a4949c7;
    box-shadow: 1px -2px 15px 5px #6657DA, 1px -2px 150px 5px #6657DA;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    z-index: 2;
}


/* Here is the nav bar css */

.navbar_contanier {
    width: 13%;
}

.navbar_contanier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_navbar .navbar {
    width: 100%;
}


/* Here is the main container css */

.content_contanier {
    width: 87%;
}


/* Content container  */

.status_bar {
    display: flex;
    padding: 3px 20px;
    justify-content: space-between;
    align-items: center;
}

.greets_to_user {
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

.container_searchbar {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding: 10.5px 0px;
}

.searchbox {
    display: flex;
    align-items: center;
    width: 355px;
    height: 30px;
    padding: 6px 12px;
    background: linear-gradient( 180deg, rgba(46, 51, 90, 0.3) 0%, rgba(28, 27, 51, 0.3) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.searchbox svg {
    color: #fff;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.searchInput {
    border: 0;
    width: 100%;
    color: #fff;
    background: transparent;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

.searchInput::placeholder {
    color: #fff;
}

.searchInput:focus {
    outline: none;
}

.searchInput:focus-visible {
    outline: none;
}

.user_btns {
    display: flex;
    margin-left: 10px;
}

.user_btns svg {
    width: 30px;
    height: 30px;
    color: #fff;
}

.profileimg {
    width: 30px;
    margin-left: 10px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}


/* Here is the post */

.feed_with_user {
    display: flex;
    justify-content: space-between;
}

.frow {
    display: flex;
    justify-content: space-between;
}

.frow h5 {
    line-height: 40px;
    font-size: 20px;
    color: #b6b6b6;
}

.feed_posts {
    height: 84vh;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px;
    background: #ffffff21;
    padding: 15px;
    padding-bottom: 0px;
    width: 65%;
}

.post .profileimg {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.user_name {
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
}

.profile_bar {
    width: 35%;
    position: relative;
    color: white;
    overflow-y: auto;
    height: 84vh;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    margin-left: 10px;
    background-color: #A4A4A4;
    background-color: #ffffff21;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
}

.profile_pic img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

@media screen and (max-width: 850px) {
    .main_container {
        width: 100%;
        flex-direction: column-reverse;
        overflow-y: hidden;
        height: auto;
        margin: 0;
        border-radius: 0;
    }
    .navbar_contanier {
        width: 100%;
        background: #4a4949;
    }
    .content_contanier {
        width: 100%;
    }
    .profile_bar {
        display: none;
    }
    .container_navbar .navbar {
        width: 100%;
    }
    .searchbox {
        width: 360px;
        height: 40px;
        margin: auto 0;
        border-radius: 30px;
    }
    .feed_posts {
        background: #ffffff21;
        height: 100%;
        width: 100%;
    }
    .greets_to_user {
        display: none;
    }
    .status_bar {
        padding: 10px 20px;
        background: #4a4949;
    }
    .container_searchbar {
        justify-content: space-between;
        width: 100%;
        padding: 6.5px 0px;
    }
    .searchInput {
        font-size: 18px;
    }
    .searchbox svg {
        font-size: 24px;
    }
}

@media screen and (max-width: 520px) {
    .searchbox {
        width: 210px;
        height: 28px;
    }
    .feed_with_user {
        height: 580px;
    }
    .status_bar {
        padding: 4px 18px;
    }
    .searchbox svg {
        font-size: 18px;
    }
    .searchInput {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .main_container {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        overflow: unset;
        overflow-x: hidden;
        margin-left: 0px;
    }
    .feed_with_user {
        height: 590px;
    }
    .searchbox svg {
        font-size: 16px;
    }
    .searchInput {
        font-size: 14px;
    }
    .searchbox {
        width: 200px;
        height: 28px;
    }
}

.user_list {
    width: 97%;
    padding: 10px 15px;
    background-color: #787878;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-family: "Poppins", sans-serif;
    height: 81vh;
    overflow: auto;
    border-radius: 28px;
    padding: 20px 18px;
    margin-top: 8px;
}

.profile_bar ul {
    list-style: none;
}

.profile_bar ul li {
    background-color: #525252;
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    opacity: 1;
    cursor: pointer;
}

.profile_bar a {
    text-decoration: none;
    color: white;
}

.profile_bar ul li .message {
    margin-left: 10px;
}

.profile_bar ul li .message h1 {
    font-size: 22px;
}

.profile_bar ul li .message p {
    margin-top: -7px;
}

.profile_bar ul li img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_bar ul .notif {
    background-color: #6e62cd;
}

.dm {
    width: 100%;
    padding: 0;
    padding-top: 10px;
    height: 100%;
    overflow-y: hidden;
    margin-right: 10px;
    overflow-x: hidden;
    color: #6c5ce7;
    font-family: "Poppins", sans-serif;
}

.dm .user_info {
    margin-top: 0px;
    display: flex;
    padding: 10px 0px;
    padding-top: 30px;
    color: #2a2a2a;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #787878;
    z-index: 3;
}

.dm .user_info .left {
    display: flex;
}

.dm .user_info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dm .user_info .info {
    margin-left: 20px;
}

.dm .user_info .info p {
    margin-top: -10px;
}

.dm .gotoprofile a {
    display: flex;
    color: #000000bd;
    outline: none;
    width: 160px;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid #00000082;
}

.dm .gotoprofile a i {
    line-height: 27px;
    margin-left: 5px;
}


/* here is chat css */

.dm .chat div.newrow {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dm .chat {
    width: 100%;
    overflow: hidden;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 16px;
    text-align: center;
    color: #3c3c3c;
}

.pret {
    margin-left: 10px;
}

.chat select {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px #6c5ce7 solid;
    border-radius: 10px;
    color: #6c5ce7;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.chat button {
    padding: 10px 20px;
    margin-top: 30px;
    border: 2px solid #1919198c;
    background-color: #adadad;
    font-family: "Poppins", sans-serif;
    color: #343131;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: linear 0.2s;
}

.chat button:hover {
    color: white;
    background-color: #6c5ce7;
}

.ref,
.acc {
    display: none;
}

.chat div button {
    margin-top: 10px;
}

.chat div h3 {
    margin-top: 20px;
}

.chat .refuz:hover {
    color: white;
    border: 2px solid red;
    background-color: red;
}

.chat a {
    color: #c3c3c3;
}

.prett {
    display: flex;
}

@media screen and (max-width: 850px) {
    .artistname {
        font-size: 25px;
    }
    .dm {
        padding: 15px 20px;
    }
    .dm .user_info {
        padding-top: 15px;
    }
    .dm .chat {
        height: 65vh;
    }
}

@media screen and (max-width: 520px) {
    .chat h2 {
        font-size: 14px;
        margin-top: 10px;
    }
    .dm {
        padding: 15px 20px;
        height: 82vh;
    }
    .dm .user_info {
        padding-top: 0px;
    }
    .dm .chat {
        height: 64vh;
    }
    .chat h3 {
        font-size: 12px;
        margin-top: 10px;
    }
    .chat select {
        font-size: 8px;
        width: 170px;
        padding: 5px 5px;
    }
    .chat button {
        font-size: 10px;
        padding: 5px;
    }
    .profile_bar ul li img {
        width: 40px;
        height: 40px;
    }
    .artistname {
        font-size: 16px;
    }
    .dm .user_info .info p {
        margin-top: -8px;
        font-size: 12px;
    }
    .user_info h4 {
        margin-top: 10px;
    }
    .dm .gotoprofile a i {
        line-height: 7px;
        margin-top: 15px;
        margin-left: 5px;
    }
    .dm .user_info img {
        width: 40px;
        height: 40px;
    }
    .dm .user_info .info {
        margin-left: 5px;
    }
    .dm .gotoprofile a {
        width: 100px;
        font-size: 10px;
        margin-top: 10px;
    }
    .profile_bar ul li .message p {
        margin-top: 0px;
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .dm {
        padding: 12px 12px;
        height: 84vh;
    }
    .dm .chat {
        height: 66vh;
    }
}

.fullpost {
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    position: relative;
    background: #767474;
    padding-bottom: 10px;
}

.title {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #292828;
    text-align: center;
}

.back {
    position: absolute;
    left: 50px;
    top: 60px;
    width: 50px;
    height: 50px;
    background-color: #292828;
    color: #6c5ce7;
    font-size: 30px;
}

.post_cont {
    position: relative;
}

.post_cont img {
    width: 500px;
    max-height: 400px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.fullpost .post_info {
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
}

.fullpost #like {
    position: absolute;
    padding: 21px 19px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right: -25px;
    bottom: -25px;
    background-image: linear-gradient(to top, white 0%, white 100%);
    border-radius: 50%;
    color: #6c5ce7;
    cursor: pointer;
    text-align: center;
    transition: linear 0.3s;
}

.fullpost #like:hover {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.fullpost .post_info p {
    opacity: 0.5;
    font-size: 15px;
    color: #525252;
    font-weight: 700;
    margin-left: 50px;
}

.fullpost .post_info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 20px;
    color: #292828;
}

.post {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    position: relative;
}

.container_2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d6fff6;
    clip-path: circle(450px at 80% 20%);
    transition: ease-in-out 0.5s;
}

.post_cont {
    position: relative;
}

.post_cont img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.fullpost .post_info {
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .container_2 {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 650px) {
    .fullpost #like {
        right: unset;
        left: 370px;
        padding: 16px 13px;
        font-size: 16px;
        bottom: -25px;
    }
    .post .profileimg {
        width: 50px;
        height: 50px;
        left: -15px;
        top: -15px;
    }
    .fullpost .post_info h3 {
        font-size: 15px;
    }
    .fullpost .post_info p {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .fullpost .post_info h3 {
        font-size: 12px;
        margin-left: 20px;
    }
    .fullpost .post_info p {
        font-size: 10px;
        margin-left: 20px;
    }
    .post_cont img {
        width: 250px;
    }
    .fullpost {
        width: 250px;
    }
    .fullpost #like {
        left: 230px;
        padding: 14px 13px;
        font-size: 13px;
        bottom: -20px;
    }
    .post .profileimg {
        width: 45px;
        height: 45px;
        left: 40px;
        top: -12px;
    }
    .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .post {
        margin-top: 20px;
    }
    .fullpost #like {
        left: 175px;
        padding: 14px 13px;
        font-size: 13px;
        bottom: -20px;
    }
    .post .profileimg {
        width: 30px;
        height: 30px;
        left: -13px;
        top: -13px;
    }
    .fullpost .post_info h3 {
        font-size: 12px;
        margin-left: 20px;
    }
    .fullpost .post_info p {
        font-size: 10px;
        margin-left: 20px;
    }
    #i3 {
        font-size: 16px;
    }
    .container_2 {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        overflow: unset;
        overflow-x: hidden;
        margin-left: 0px;
    }
    .container_2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #d6fff6;
        clip-path: circle(450px at 80% 20%);
        transition: ease-in-out 0.5s;
    }
    .post_cont img {
        width: 200px;
    }
    .fullpost {
        width: 200px;
    }
    .post {
        width: 200px;
    }
}

.post {
    width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #403F3F;
    margin-bottom: 24px;
    position: relative;
    border-radius: 10px;
    font-family: "DM Sans", sans-serif;
}

.user_details {
    display: flex;
    align-items: center;
    padding: 8px;
}

.user_detcontent {
    display: flex;
    justify-content: space-between;
    color: #C3C3C3;
    position: relative;
}

.user_detcontent i {
    position: relative;
    padding: 30px;
    cursor: pointer;
}

.post .profileimg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user_name {
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
    margin-top: -7px;
}

.post_info .user_name {
    color: #C3C3C3;
    margin-left: 0px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 6px;
}

.post_info {
    padding: 10px 20px;
    width: 95%;
}

.post_info h3 {
    font-size: 16px;
    margin-top: 5px;
    color: #ababab;
}

.post_cont {
    text-align: center;
}

.post_cont img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
    object-position: center;
}

.post_contvid video {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
    object-position: center;
}

.post_conttxt h3 {
    padding: 20px;
    padding-top: 0px;
    color: #ababab;
}

.like_btn {
    padding: 4px;
    position: absolute;
    bottom: -15px;
    right: -15px;
    cursor: pointer;
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
    border-radius: 50%;
    background: #403F3F;
    transition: linear 0.3s;
}

.like_btn:hover {
    background: #6657DA;
}

.like_btn.liked {
    background: #6657DA;
}

.like_btn i {
    transition: linear 0.3s;
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}